{% extends 'learning_logs/base.html' %}
{% block header %}
    <h1>Темы</h1>
{% endblock header %}
{% block content %}

    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h3>
            </li>
        {% empty %}
            <li>Еще не добавлено ни одной темы</li>
        {% endfor %}
    </ul>
    <a href="{% url 'learning_logs:new_topic' %}">Добавить новую тему</a>
{% endblock content %}
