{% extends 'learning_logs/base.html' %}
{% block content %}
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        <p>
            <label for="id_username">Логин:</label>
            <input id="id_username" type="text" name="username" maxlength="100" autocapitalize="none" autocomplete="off" autofocus="" required="">
            <span class="helptext">
                Длина неболее 100 символов. Только буквы, цифры и @/./+/-/_
            </span>
        </p>
        <p>
            <label for="id_password1">Пароль:</label>
            <input id="id_password1" type="password" name="password1" autocomplete="off" required="">
            <span class="helptext"></span>
            <ul>
                <li>Ваш пароль не должен быть слишком похож на другую вашу личную информацию</li>
                <li>Ваш пароль должен содержать не менее 8 символов</li>
                <li>Ваш пароль не может быть полностью цифровым.</li>
            </ul>
        </p>
        <p>
            <label for="id_password2">Подтверждение пароля:</label>
            <input for="id_password2" type="password" name="password2" autocomplete="off" required="">
        </p>

        <button name="submit">Регистрация</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock content %}
